@charset "utf-8";
/* CSS Document */
.menu{
	width:100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	
}
body{
	background:url(pexel.jpg);
	background-size:cover;
	background-position:center;
	position:relative;
	width:100%;
	display:block;
	
		
}
.Logo{
	font-weight:bold;
	font-size:35px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height:80px;
	color:#fff;
	margin-left:10px;
	cursor:pointer;
	
}
nav ul{
	list-style:none;
	display:inline block;
	
	
		
}
nav ul li{
	display:inline-block;
	color:#000;
	font-size:20px;
	padding:23px;
	
}
nav ul li a{
	text-decoration:none;
}
li:hover{
	text-decoration: underline;
	color:hotpink;
	padding:20px
}
 .popuptext{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 50%;
  margin-left: -80px;
}
li:hover + .popuptext {
	visibility: visible;
}


.first{
	width:100%;
	position:relative;
	top:30%;
	
}
.tom h1{
	font-size:80px;
	color:#fff;
	line-height:90px;
	float:left;
	padding-left:15px;
}

.jerry{
	float:right;
	margin-top:220px;
	margin-left:30%;
	padding-right: 30px;
	display:flex;
	align-items:center;
	
	
}
.jerry p{
	font-size:20px;
	color:#000;
	padding-right:10px;
}


#pic{
	cursor:pointer;
	width:45px
	
}
.quote {
	border:1px solid black;
	text-align:center;
	width:200px;
	height:500px;
	position:absolute;
	right:30%;
	top:100%;
	border-radius:10px;
	box-shadow:0px 0px 16px 7px grey;
	color:lightcoral;

	
}
.quote:hover{
	transform: translate(20px, 30px);
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 98%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0047ab transparent transparent transparent;
  z-index:2;
 
}
#my_popup1.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#Part_2{
	position:relative;
	display:flex;
	justify-content:center;
	width:100%;
	min-height:100vh;
	margin-top:50px;
	background-image:linear-gradient(to right,#e39d9d,#9ccbc5);
	opacity:0.5
	
}
#Part_2::before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:linear-gradient(#edcf45,#99bf65);
	clip-path:circle(20% at right 60%);	
}
#Part_2::after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:linear-gradient(#2196f3,#99bf65);
	clip-path:circle(20% at 10% 10%);
}
marquee p{
	color:crimson;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-weight:bold;
	font-size:30px;
}
.holder{
	padding-top:70px;
	opacity:1;
	color:#B012CC;
	position:relative;
	display:flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap:wrap;
	z-index:1;
}
.holder .sub{
	position:relative;
	width:280px;
	height:400px;
	margin:30px;
	box-shadow:20px 20px 50px rgba(0,0,0,0.5);
	border-radius:15px;
	background:rgba(0, 0, 0, 0.2);
	display:flex;
	overflow: hidden;
	justify-content:center;
	align-items:center;
	border-top:1px solid rgba(255,255,255,0.5);
	border-left:1px solid rgba(255,255,255,0.5);
	backdrop-filter:blur(5px);
}
.holder .sub .content{
	padding:20px;
	text-align:center;
	transition:0.5s;
	
}
.holder .sub .content h1{
	position:absolute;
	top:-10px;
	right:30px;
	font-size:2em;
	color:ivory;
	pointer-events: none;
	
}
.holder .sub .content h3{
	font-size:1em;
	color:#fff;
	z-index:1;
}
.holder .sub .content p{
	color:crimson;
	font-weight:600;
	
	
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
@media (max-width:858px){
	.tom h1{
	font-size:50px;
	color:#000;
	line-height:70px;
	float:left;	
}
}